#body {
    background: linear-gradient(to bottom, #3B5998, white);
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: black;
}

.content {
    max-width: 900px;
    margin: auto;
    background-color: #f0f0f0;
    padding: 10px;
    font-family: Helvetica;
}

.header {
    background-color: #3B5998;
    height: 100px;
    padding: 0px;
    position: sticky;
    top: 0;
}

.fblogo {
    border-radius: 0%;
    height: 60px;
}

.searchbar {
    position: relative;
    top: -40px;
    left: 200px;
   }

.searchbar input {
    width: 500px;
    }

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#profpic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    position: absolute;
    top: 260px;
    left: 430px;
}

.name {
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 320px;
    top: -140px;
}

.addfriend {
    transform: translateX(150px);
    height: 30px;
    width: 100px;
    font-weight: bold;
    color: #3B5998;
    border-radius: 10%;
    background-color: white;
    border-style: none;
}

.message {
    transform: translateX(150px);
    height: 30px;
    width: 100px;
    font-weight: bold;
    color: #3B5998;
    border-radius: 10%;
    background-color: white;
    border-style: none;
}

.addfriend:hover {
  background-color: lightgray;
}

.message:hover {
  background-color: lightgray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

.navbar {
    position: relative;
}

li a {
    display: block;
    color: #3B5998;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
    width: 150px;
    height: 40px;
    background-color: white;
    border-style: none;
    color: #3B5998;
    font-weight: bold;
    font-size: 17px;
}

li a:hover {
    background-color: lightgray;
}

.infotitle {
    background-color: white;
    padding: 20px;
    width: 250px;
    float: left;
    border: 2px solid lightgray;
}

.walltitle {
    background-color: white;
    padding: 20px;
    float: right;
    width: 560px;
    height: 20px;
    position: relative;
    text-align:
}

.travel {
    background-color: white;
    padding: 20px;
    float: right;
    width: 550px;
    position: relative;
    top: 10px;
}

.likebar {
  width: 300px;
  height: 30px;
  object-fit: cover;
}

.pub {
    background-color: white;
    padding: 20px;
    float: right;
    width: 550px;
    top: 20px;
    position: relative;
}

.photostitle {
    background-color: white;
    padding: 20px;
}

.bali:hover {
    opacity: 0.5;
}

.guitar:hover {
    opacity: 0.5;
}

.airplane:hover {
    opacity: 0.5;
}

.cat:hover {
    opacity: 0.5;
}

.videostitle {
    background-color: white;
    padding: 20px;
}

.Alchuu {
    animation: mycolorchange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    font-size: 30px;
    font-weight: bold;
}

@keyframes mycolorchange {
    0%{color: red;}
    20%{color: orange;}
    40%{color: yellow;}
    60%{color: green;}
    80%{color: blue;}
    100%{color: violet;}